*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: hsl(229, 57%, 11%);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: -5rem 23rem;

}
.flyo{
    /* border: 1px solid #ffff; */
    background-color:  hsl(228, 56%, 26%);
    /* border: 7px solid #20246b; */
        display: flex;
        flex-direction: column;
        max-width: 400px;
        border-radius: 10px 88px 10px 10px;
        /* width: 20rem; */
        /* padding: 44px 23px 0px; */
        padding: 25px 52px 0;
    }
.just{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    height: 100vh;
}
.svg-icon{
    display: flex;
    justify-content: flex-start;
    padding: 29px 0px;
}
.content-span {
    color: #dee8ff;
    font-weight: 700;
    font-size: 20px;
}
.icon-svg {
        padding: 8px 7px;
        background-color: black;
        border-radius: 7px;
}
.container{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 50px;
}
.logo-right {
    border-radius: 10px;
    background-color: hsl(228, 56%, 26%);
    margin-top: 2.5rem;
    padding: 15px 18px 0;
}
.horizontal {
    height: 18px;
    background: rgb(19, 19, 19);
    border-radius: 20px;
    width: 455px;
    margin: 10px;
}
.color {
    /* background-color: hsl(6, 100%, 80%); */
    height: 100%;
    width: 81.5%;
    border-radius: 20px;
    background-image: linear-gradient(45deg,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
}
.data{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
 .doc {
    font-size: 40px;
    padding: 0 7px;
} 
.logo.svg{
    padding: 15px 0;
}
.storage {
    color: #c6ccfc;
    padding: 0px 0 28px 0;
}
.box {
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
    right: 1rem;
    bottom: 8.7rem;
    background-color: white;
    color: #333;
    font-weight: 700;
    font-size: 26px;
}
.msg-box {
    position: relative;
}
.shapes{
    width: 0;
    height: 0;
    border-top: 2em solid transparent;
    border-right: 2.1em solid white;
    border-bottom: 2em solid transparent;
    transform: rotate(3deg);
    position: absolute;
    right: 1.1rem;
    bottom: 7.1rem;
}
.storage-content{
    color: hsl(243, 100%, 93%);
    padding: 0px 0 18px;
}
span.gb {
    font-size: 10px;
    padding: 10px;
    color: hsl(243deg 3% 69%);
}
@media all and (max-width:375px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    body{
        background-image: url(images/bg-mobile.png);
        background-repeat: no-repeat;
    background-position: 0;
    }
    .logo-right {
        background-color: hsl(228, 56%, 26%);
        padding: 18px 10px 35px;
        max-width: 331px;
        border: 1;
        margin-top: 0;
    }
    .horizontal {
        height: 18px;
        background: rgb(19, 19, 19);
        border-radius: 20px;
        max-width: 286px;
        margin: 10px;
    }
    .color {
        background-color: hsl(6, 100%, 80%);
        height: 100%;
        max-width: 64.5%;
        border-radius: 20px;
        background-image: linear-gradient(45deg,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    }
    .flyo {
        background-color: hsl(228, 56%, 26%);
        display: flex;
        flex-direction: column;
        border-radius: 10px 88px 10px 10px;
        width: 20rem;
        padding: 25px 52px 0;
    }
    .box {
        font-size: 52px;
        border: 1px solid;
        border-radius: 10px;
        position: absolute;
        right: 3rem;
        bottom: -6.3rem;
        background-color: white;
        color: #333;
        font-weight: 700;
        padding: 16px 28px;
    }
    .shapes {
        width: 0;
        height: 0;
        border-top: 0em solid transparent; 
       border-bottom: 0em solid transparent;
        transform: rotate(3deg);
        position: absolute;
        right: 1.1rem;
        bottom: 7.1rem;
    }
}